<h1>Olvide Contrasena</h1>
<label for="email">Correo Electrónico:</label>
<input type="email" id="email" name="email" /><br /><br />
<button id="submit-button" onclick="submitForm()">Enviar</button>
<a href="/api/sessions/login">cancelar</a>
<div id="loading" style="display: none;"></div>

<script>
  function submitForm() { 
    const email = document.getElementById("email").value; 
    const submitButton = document.getElementById("submit-button");
    const loadingIndicator = document.getElementById("loading");

    // Show loading indicator
    loadingIndicator.style.display = "block";
    submitButton.disabled = true;
    submitButton.innerText = "Enviando...";

    fetch("/api/sessions/forgot_password", {
      method: "POST",
      headers: { "Content-Type": "application/json" }, 
      body: JSON.stringify({ email }),
    })
      .then((response) => { 
        if (response.ok) { 
          console.log("forgot pass email");
          window.location.href = "/api/sessions/forgot_sent";
        } else { 
          console.error("Error al crear la cookie");
        } 
      })
      .catch((error) => console.error("Error:", error))
      .finally(() => {
        // Hide loading indicator
        loadingIndicator.style.display = "none";
        submitButton.disabled = false;
        submitButton.innerText = "Enviar";
      });
  }
</script>
