<h1>HOME</h1>
<ul>
    <li><button><a href="/api/sessions/login">login</a></button></li>
    <li><button></button><a href="/api/sessions/register">registro</a></button></li>
    <li><button></button><a href="/api/sessions/perfil">perfil</a></button></li>
</ul>