<!-- index.handlebars -->

<h1>HOME</h1>
<ul>
  {{#unless user}} <!-- Check if there is no user -->
    <li><button><a href="/api/sessions/login">login</a></button></li>
    <li><button><a href="/api/sessions/register">registro</a></button></li>
  {{else}}
    <li><button><a href="/api/products">productos</a></button></li>
    <li><button><a href="/api/sessions/perfil">perfil</a></button></li>
    <button onclick="logout()">logout</button>
  {{/unless}}
</ul>

<script>
  function logout() { 
    fetch("/api/sessions/logout", { // Corrected the URL to point to logout route
      method: "GET",
      headers: { "Content-Type": "application/json" }, 
    })
    .then((response) => { 
      if (response.ok) { 
        console.log("logged-out"); 
        window.location.href = "/api/sessions/login"; // Redirect to login page after logout
      } else { 
        console.error("Error al salir de sesion"); 
      } 
    }) 
    .catch((error) => console.error("Error:", error)); 
  }
</script>
