{{! index.handlebars }}
<h1>Te damos la bienvenida</h1>
{{!-- <label for="name">Nombre del Cliente:</label>
<input type="text" id="name" name="name" /><br /><br />
<label for="email">Correo Electrónico:</label>
<input type="email" id="email" name="email" /><br /><br />
<button onclick="getCookie()">Obtener Cookie</button>
<button onclick="submitForm()">Enviar</button> --}}

<script>
  function getCookie() { 
    fetch("/inyectar/getCookie") 
      .then((response) => response.json()) 
      .then((data) => console.log(data)) 
      .catch((error) => console.error("Error:", error)); 
  } 

  function submitForm() { 
    const name = document.getElementById("name").value; 
    const email = document.getElementById("email").value; 
    fetch("/inyectar/setCookie", { 
      method: "POST", 
      headers: { "Content-Type": "application/json" }, 
      body: JSON.stringify({ user: email }), 
    }) 
      .then((response) => { 
        if (response.ok) { 
          console.log("Cookie creada correctamente"); 
        } else { 
          console.error("Error al crear la cookie"); 
        } 
      }) 
      .catch((error) => console.error("Error:", error)); 
  }
</script>
