{{! index.handlebars }}
<h1>Restaurar Contrasena</h1>
<label for="email">Correo Electrónico:</label>
<input type="email" id="email" name="email" /><br /><br />
<label for="password">Nueva contrasena:</label>
<input type="password" id="password" name="password" /><br /><br />
<button onclick="submitForm()">Enviar</button>
<a href="/api/sessions/login">volver a ingresar</a>

<script>
  function submitForm() { 
    const email = document.getElementById("email").value; 
    const password = document.getElementById("password").value; 
    fetch("/api/sessions/reset_password", {
      method: "POST",
      headers: { "Content-Type": "application/json" }, 
      body: JSON.stringify({ email,password}),
    })
      .then((response) => { 
        if (response.ok) { 
          console.log("changed password - now go login"); 
          window.location.href = "/api/sessions/login"
        } else { 
          console.error("Error al crear la cookie"); 
        } 
      }) 
      .catch((error) => console.error("Error:", error)); 
  }
</script>
