<h1>Role was changed successfully</h1>
<br>
<button style="text-align: center;"><a href="/api/users">Go back to users</a></button>
<br>
<button style="text-align: center;"><a href="/api/products">Home</a></button>