<link>
  <h3>Lista de productos</h3>
  <button> <a href="/realtimeproducts">Realtime</a></button>

  <hr>
  <div id="productos"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>

 <script>
    const socket = io();

    {{!-- get products --}}
   // Obtener y mostrar los productos al cargar la página
async function getAndShowProducts() {
  try {
    const response = await fetch('/api/product'); // Hacer la solicitud GET
    const products = await response.json(); // Obtener la respuesta en formato JSON
    const productosDiv = document.getElementById('productos');

    // Limpiar el div de productos antes de agregar los nuevos productos
    productosDiv.innerHTML = '';

    // Iterar sobre los productos y agregarlos al div
    products.forEach(product => {
      productosDiv.innerHTML += `<p>(${product.code}) - ${product.title} - $${product.price} </p>`;
    });
  } catch (error) {
    console.error('Error al obtener productos:', error);
  }
}

// Llamar a la función al cargar la página para mostrar los productos
document.addEventListener('DOMContentLoaded', getAndShowProducts);

  </script>