<link>
  <h3>Lista de productos</h3>
  <button> <a href="/realtimeproducts">Go Realtime</a></button>

  <hr>
  <ul>
    {{#each products}}

        <li>{{title}} - ${{price}}</li>

    {{/each}}

</ul>