<!-- src/views/realTimeProducts.handlebars -->

<h3>Lista de productos en tiempo real</h3>
<button><a href="/">Inicio</a></button>
<!-- Add Product Form - partial -->
{{> addProductForm}}

<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/ui.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/main.js"></script>