<!-- views/realTimeProducts.handlebars -->

<h3>Lista de productos en tiempo real</h3>
<button> <a href="/">Inicio</a></button>
<hr>
<!-- Add Product Form - partial-->
{{> addProductForm}}
<hr>
<div id="productos"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
