{{!-- creationForm.handlebars --}}
      <form
        class="card card-body rounded-0"
        id="prodForm"
        enctype="multipart/form-data"
      >
        <h1 class="h3 mb-4">Add Prod</h1>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="write a title"
          class="form-control rounded-0 mb-3"
          autofocus
        />
        <textarea
          name="description"
          id="description"
          rows="2"
          class="form-control rouded-0 mb-3"
          placeholder="write a description"
        ></textarea>
        <input
          type="number"
          id="price"
          name="price"
          placeholder="price"
          step="0.01"
          
          class="form-control rouded-0"
        />
        <label for="status">Status:</label>

        <input type="checkbox" id="status" name="status" checked /><br /><br />
        <input
          type="number"
          id="stock"
          name="stock"
          
          placeholder="stock"
          class="form-control rounded-0"
        />
        <input
          type="text"
          id="category"
          name="category"
          placeholder="category"
          class="form-control rounded-0"
          
        />
        <label for="files">imagenes de producto:</label>

        <input
          type="file"
          id="thumbnails"
          name="files"
          placeholder="imagenes de producto"
          class="form-control rounded-0"
          multiple
          
        /><br /><br />

        <button type="submit" class="btn btn-dark rounded-0">send</button>
      </form>

    <script>
  // JavaScript code to handle form submission
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("prodForm");

    form.addEventListener("submit", async function (event) {
      event.preventDefault(); // Prevent default form submission behavior

      try {
        const formData = new FormData(form); // Get form data
        const response = await fetch("http://localhost:8080/api/product", {
          method: "POST",
          body: formData,
        });

        if (!response.ok) {
          throw new Error("Failed to add product.");
        }

        // Handle successful response, e.g., show success message, update UI, etc.
        console.log("Product added successfully!");
        form.reset(); // Optionally reset the form
      } catch (error) {
        // Handle errors
        console.error("Error adding product:", error.message);
      }
    });
  });
</script>